@import "./theme";

.Sidebar {
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 400px;
	background-color: $PanelBackground;
	padding: 1px;

	transition: width 1s;

	input {
		margin-top: 50px;
		font-size: 12pt;
		&:after {
			content: "°";
		}
	}
}
